<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated joana -->
      <package
            uri="http://www.example.org/joana"
            class="edu.kit.kastel.scbs.pcm2java4joana.joana.JoanaPackage"
            genModel="model/joana.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated joanasimplifiedresult -->
      <package
            uri="www.example.org/joanasimplifiedresult"
            class="edu.kit.kastel.scbs.pcm2java4joana.joanasimplifiedresult.JoanasimplifiedresultPackage"
            genModel="model/joanasimplifiedresult.genmodel"/>
   </extension>

</plugin>
